In [26]:
import pandas as pd


from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
vector = cv.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
print(vector.toarray())
print(vector.data)
cv.get_feature_names_out()

pd.DataFrame(vector.toarray(), columns = [cv.get_feature_names_out()])

[[1 0 0 1 1 1 1]
 [0 0 1 1 1 1 1]
 [1 1 1 0 0 2 0]]
[1 1 1 1 1 1 1 1 1 1 2 1 1 1]

  cat chase dog eat love the to
0   1     0   0   1    1   1  1
1   0     0   1   1    1   1  1
2   1     1   1   0    0   2  0

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

cv_tf = TfidfVectorizer(stop_words='english')
# cv_tf = TfidfVectorizer()

vector = cv_tf.fit_transform(['The cat love to eat', "The dog love to eat", "The cat chase the dog"])
# print(vector.toarray())
# print('-----')
# print(vector.data)
# cv_tf.get_feature_names_out()
print(cv_tf.vocabulary_)
pd.DataFrame(vector.toarray(), columns = [cv_tf.get_feature_names_out()])

{'cat': 0, 'love': 4, 'eat': 3, 'dog': 2, 'chase': 1}

        cat     chase       dog      eat     love
0  0.577350  0.000000  0.000000  0.57735  0.57735
1  0.000000  0.000000  0.577350  0.57735  0.57735
2  0.517856  0.680919  0.517856  0.00000  0.00000

In [35]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Example text data
text_data = [
    "This is the first text.",
    "Another text for the second row.",
    "A third text goes here.",
    "The fourth row has some more text.",
    "Fifth row's text.",
    "Sixth row with additional text.",
    "Text for the seventh row.",
    "Eighth row text.",
    "Ninth row text here.",
    "Tenth and final row's text."
]

# Create CountVectorizer
count_vectorizer = CountVectorizer()

# Vectorize the text data
count_matrix = count_vectorizer.fit_transform(text_data)

# Convert the sparse matrix to a DataFrame
df = pd.DataFrame(count_matrix.toarray(), columns=count_vectorizer.get_feature_names_out())

# Display DataFrame
df

,additional,and,another,eighth,fifth,final,first,for,fourth,goes,...,second,seventh,sixth,some,tenth,text,the,third,this,with
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
1,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
6,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,1,0,0,0
7,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0

In [41]:
vect = CountVectorizer()
vect.fit(df)
vect.get_feature_names_out()

array(['additional', 'and', 'another', 'eighth', 'fifth', 'final',
       'first', 'for', 'fourth', 'goes', 'has', 'here', 'is', 'more',
       'ninth', 'row', 'second', 'seventh', 'sixth', 'some', 'tenth',
       'text', 'the', 'third', 'this', 'with'], dtype=object)